@font-face {
    font-family: 'Pixellari';
    src: url('Pixellari.woff2') format('woff2'),
        url('Pixellari.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Aplicar Pixellari por defecto al body */
body {
    font-family: 'Pixellari', sans-serif;
}


